* { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}
body{
	background: black;
  
}
h1 {

	color:white;
	size:30;
  font-family: monospace;
}
h2 {
	text-align: center;
	color: white;
  font-family: monospace;
	}
td {
	border-bottom: 1px solid #000;
	color: white;
   }

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
    font-size:16px;
}
td {
  color:white;
  font-size:20px;
}

input[type=text]{
    width: 110%;
    padding: 10px;
    border: 1px solid green;
    border-radius: 4px;
    resize: vertical;
}
.boton {
	 
	 padding: 12px;

}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-100 {
  float: left;
  width: 99%;
  margin-top: 16px;
}


@media screen and (max-width: 600px) {
  .col-25, .col-75, table, input[type=submit, reset] {
        width: 100%;
        margin-top: 0;
    }
  }