* {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}

h2{
    text-align: center;
}
input[type=text],input[type=tel],input[type=email],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;/*La propiedad resize de CSS permite controlar la capacidad de cambio de tamaño de un elemento.*/
}

label {
    padding: 12px 12px 12px 0;/*padding-top, padding-right, padding-bottom, and padding-left*/
    display: inline-block;/*crear una cuadrícula de cajas que llene el navegador armoniosamente*/
}

input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 10px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=button] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 10px;
}

input[type=button]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f83751;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-100 {
    float: left;
    width: 99%;
    margin-top: 16px;
}

 .boton_menu{
    text-decoration: none;
    padding: 5px;
    font-weight: 200;
    font-size: 12px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .boton_menu:hover{
    color: black;
    background-color: #ffffff;
  }


.boton{
padding-top: 15px;
}
/* Clear floats after the columns */
.row:after {
    content: "";/*Se usa generalmente para añadir contenido estético a un elemento, usando la propiedad CSS content*/
    display: table;
    clear: both;
    /*La propiedad CSS clear especifica si un elemento puede estar al lado de elementos flotantes que lo preceden o si debe ser movido (cleared) debajo de ellos. La propiedad clear aplica a ambos elementos flotantes y no flotantes.*/
}

/*Diseño receptivo: cuando la pantalla tiene al
menos de 600 píxeles de ancho,
haga que las dos columnas se apilen una
encima de la otra en lugar de una al lado de la otra */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
.boton2{
        font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        border:0px;
        width:80px;
        height:19px;
       }
